{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST" align="center">
  <h3 align="center">Login</h3>
  <div class="form-group" align="center">
    <label for="username" align="center">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
      style="width: 50%;"
    />
    <label for="password" align="center" style="padding-top: 2%;">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
      style="width: 50%;"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </div>
</form>
{% endblock %}
